/*  This file only exists (temporarily) until the
    custom styling can be replaced with the
    implementation of the upstream project.
*/

blockquote {
    padding: 0 20px;
    margin: 0 0 20px;
    font-size: inherit;
    border-left: 5px solid #eee;
}



@media only screen and (min-width: 960px) {
 .searchresults {
     margin-left: 262px;
  }
}

.searchresults {
    margin-top: 64px;
    float: left;
    position: absolute;
    top: 0;
    width: 937px;
}

.method-title {
    font-size: 18px;
    font-weight: 900;
    font-family: "Open Sans", sans-serif;
    position: relative;
    left: 10px;
}

.http-get {
    background-color: #6bbd5b;
    color: #fff;
    padding-left: 12px;
}

.http-post {
    background-color: #248fb2;
    color: #fff;
    padding-left: 9px;
}

.http-put {
    background-color: #9b708b;
    color: #fff;
    padding-left: 12px;
}

.http-method {
    background-position: 12px 7px;
    width: 40px;
    height: 21px;
    font-size: 9px;
    font-weight: 900;
    border-radius: 4px;
    float: left;
}

.kb-section {
    float:left;
    width: 50%;
}

.admonition > p > a {
  color:white !important;
}


.admonition.warning > p > a {
    color:white;
}

/* Google Search Results */

.gs-per-result-labels span, .gs-per-result-labels a {
  color: #bbb !important;
  font-size: 11px
}

.gsc-tabHeader.gsc-tabhActive {
  padding: 10px 20px;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
  text-transform: capitalize;
  background: none !important;
  border: none !important;
  border-bottom: 3px solid #fe0000 !important;
  color: #FE0000 !important;
  font-size: 14px;
font-weight: 400 !important;
}

.gsc-tabHeader.gsc-tabhInactive {
  padding: 10px 20px;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
  text-transform: capitalize;
  background: none !important;
  border: none !important;
  color: #aaa !important;
  font-size: 14px;
  font-weight: 400 !important;

}

.gsc-tabHeader.gsc-tabhInactive:hover {
  color: #333 !important;
}

.gsc-tabsArea {
  border: none !important;
  border-bottom: 1px solid #E9E9E9 !important;
}


.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  background:none !important;
}

.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
  text-shadow: none !important;
}
